<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- mybatis.xml配置类型别名和映射mapper位置 -->
<configuration>
	<typeAliases>
		<package name="com.alleyne.messageBoard.beans"/>
	</typeAliases>
	
	<mappers>
		<package name="com.alleyne.messageBoard.dao"/>
	</mappers>
</configuration>