<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        <bean id="/writeMessage.do" class="com.alleyne.messageBoard.handlers.WriteMessageHandler"> 
        	<property name="service" ref="messageService"/> 
        </bean>
        
        <bean id="/writeComment.do" class="com.alleyne.messageBoard.handlers.WriteCommentHandler"> 
        	<property name="service" ref="commentService"/> 
        </bean>
        
        <bean id="/delMessage.do" class="com.alleyne.messageBoard.handlers.DelMessageHandler"> 
        	<property name="service" ref="messageService"/> 
        </bean>
        
        <bean id="/delComment.do" class="com.alleyne.messageBoard.handlers.DelCommentHandler"> 
        	<property name="service" ref="commentService"/> 
        </bean>
        
</beans>